.switchButton-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;

  & .link {
    text-decoration: none;
  }
  
  & .link-active {
    text-decoration: underline;
  }

}

.login-register-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: fit-content;

  & .card {
    min-height: 36.5rem;
  }
  
  & .flip-card-container {
    position: relative;
  }
  
  & .card--front--position {
    transform: rotateY(180deg);
  }
  
  & .card--back--position {
    position: absolute;
    top: 0;
    transform: rotateY(180deg);
  }
  
  & .card__login--active {
    transform: rotateY(0deg);
  }
  
  & .card__register--active {
    transform: rotateY(0deg);
    position: absolute;
  }
  
}

