.input-group{
    display: flex;
    flex-direction: column;
    row-gap: .7rem;
    min-height: 6rem;

    & .label {
        width: 20rem;
    }

    &  .input_field-error {
        border-color: #D14040;
        box-shadow: .4rem .4rem#D14040;
      }
}